@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.componentsToPrint {
  /* display: none; */
  font-family: 'Roboto Mono';
}

@media screen {
  .componentsToPrint {
    display: none;
    font-family: 'Roboto Mono';
  }
  .documentsToPrint {
    display: none;
  }
}